@page "/"

<PageTitle>Página Inicial!</PageTitle>

<h1>Seja muito bem-Vindo!</h1>

<p>
    Essa é a sua lista de animes, o objetivo é ser um local ótimo para que você possa informar o episódio do
anime em que você está e colocar o episódio que você parou.
</p>
